@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    --color-green: #02bd6d;
    --color-black: #303030;
    --color-green-lighter: #8ad3a3;
    --color-grey: #f4f4f4;
    --color-grey-dark: #707070;
}

.title {
    font-size: 20px;
    color: var(--color-green);
    margin: 16px
}

.title--black {
    font-size: 16px;
    color: var(--color-black);
}

.mode-title {
    font-size: 16px;
    color: var(--color-black);
    text-align: center;
}

.mode-description {
    font-size: 12px;
    color: var(--color-grey-dark);
    margin-left: 8px;
}

#textarea {
    width: 400px;
    height: 400px;
    resize: none;
    white-space: pre-wrap;
    background-color: #f9f9f9;
    padding: 16px 16px 0 16px;
    border: none;
    border-top: 2px solid var(--color-green-lighter);
}

#textarea:focus {
    outline: none;
}

.textarea--readonly {
    border-top: 2px solid var(--color-grey) !important;
    color: var(--color-grey-dark) !important;
}

.status-area {
    padding: 16px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    margin-top: -4px;
}

#deletes-in {
    color: #ccc;
}

#space-left {
    color: #ccc;
}

.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

#date-display {
    margin: 0 12px
}

#back-button, #forward-button {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 50%;
}

#back-button:hover, #forward-button:hover {
    background-color: #f9f9f9;
}

.invisible {
    visibility: hidden;
    pointer-events: none;
}

#delete-time {
    text-align: center;
    margin-bottom: 4px;
    font-size: 10px;
    color: #707070;
}